<html lang="en">

<head>
  <link rel="stylesheet" href="../static/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <script src="https://kit.fontawesome.com/20b19d25b3.js" crossorigin="anonymous"></script>
  <title>Kaleb Swartz Personal Portfolio</title>
</head>

<body>
  <header class="showcase">
    <video autoplay muted loop id="myVideo" src="../static/Video.mp4"></video>
    <h1><span class="first-name">Kaleb</span> <span class="last-name">Swartz</span> </h1>
    <div class="header-icons">
      <a href="https://www.github.com/kalebswartz7/" target=" _blank"><img src="../static/github-brands.svg"
          id="git-pic" alt=""></a>
      <a href="../static/KalebSwartz_Resume.pdf" target="_blank"><img src="../static/file-alt-regular.svg" id="file-pic"
          alt=""></a>
      <a href="https://www.linkedin.com/in/kaleb-swartz-861150105/" target=" _blank"><img
          src=" ../static/linkedin-brands.svg" id="linkedin-pic" alt=""></a>
    </div>
    <i class="fas fa-angle-down fa-3x"></i>
  </header>
</body>

</html>