<html lang="en">

<head>
  <link rel="stylesheet" href="../static/styles/style.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
  <script src="https://kit.fontawesome.com/20b19d25b3.js" crossorigin="anonymous"></script>
  <title>Kaleb Swartz Personal Portfolio</title>
</head>

<body>
  <header class="showcase">
    <video autoplay muted loop id="myVideo" src="../static/Video.mp4"></video>
    <h1>Kaleb Swartz</h1>
    <div class="header-icons">
      <i class="fab fa-linkedin fa-2x"></i>
      <span class="fa-stack" style="vertical-align: top;">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-2x"></i>
      </span>
      <i class="far fa-file-alt fa-2x"></i>
    </div>
    <i class="fas fa-angle-down fa-3x"></i>
  </header>
</body>

</html>