:root {
    --green: #7ec7bb;
    --red: #c38d9e;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Slab', serif !important;
    -webkit-font-smoothing: antialiased;
    background: #FCFFF7;
    overflow-x: hidden;
}

.showcase {
    position: relative;
    min-width: 100%;
    min-height: 100%;
}

.showcase #video-container {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

#myVideo {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: -100;
}

.showcase h1 {
    font-family: 'Roboto Slab', serif !important;
    position: absolute;
    top: 100;
    left: 800;
    z-index: 2;
    color: white;
    font-weight: 500;
    font-size: 7.2rem;
    line-height: 1.1;
    text-align: center;
    border-bottom: 4px solid white;
    padding-bottom: 3px
}

.showcase h2 {
    font-family: 'Roboto Slab', serif !important;
    position: absolute;
    top: 500;
    left: 800;
    z-index: 2;
    color: var(--green);
    font-weight: 500;
    font-size: 3.2rem;
    line-height: 1.1;
    text-align: left;
    padding-bottom: 3px
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    background: rgba(0, 0, 0, 0.4);
}

.first-name {
    color: var(--red);
}

.last-name {
    color: var(--green);
}

.header-icons {
    position: absolute;
    top: 225;
    left: 1065;
}

.header-icons img {
    display: inline;
}

.header-icons img:hover {
    filter: brightness(50%);
}

.header-icons #git-pic {
    height: 34px;
    transform: translateX(-50%) translateY(-70%);
}

.header-icons #linkedin-pic {
    height: 85px;
}

.header-icons #file-pic {
    height: 75px;
}

.fa-angle-down {
    position: absolute;
    top: 95vh;
    left: 50%;
    z-index: 2;
    color: white;
}

.fa-angle-down:hover {
    color: gray;
}

.container-1 {
    width: 70%;
    margin: auto;
}

.section-1 {
    padding-top: 5rem;
    text-align: center;
}

.section-1 h1 {
    font-size: 2.5rem;
    color: gray;
}

.section-1 h2 {
    padding-top: 7rem;
    color: var(--red);
}

.section-2 {
    margin-top: 11rem;
}

#education-h1 {
    font-size: 3rem;
    color: var(--red);
}

.info-section img, .info-section video {
    width: auto;
    height: 125px;
    justify-self: center;
    padding: 0;
    margin: 0;
}

.info-section {
    margin-top: 0.8rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
}

.info-section-inner {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 3rem;
}

.info-section h3 {
    font-size: 1.5rem;
    justify-self: start;
    color: gray;
}

.info-section ul {
    margin-top: 1rem;
    list-style-position: inside;
}

.info-section li {
    padding-top: 0.8rem;
    font-family: 'Roboto Slab';
    font-style: bold;
    line-height: 1.5;
}

.info-section a {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}

.container-2-background {
    background-color: var(--red);
    padding-bottom: 11rem;
}

.section-3 {
    width: 70%;
    margin: auto;
    margin-top: 11rem;
    background-color: var(--red);
}

#experience-h1, #projects-h1 {
    padding-top: 6rem;
    font-size: 3rem;
    color: #FCFFF7;
}

.container-2 h3, .container-3 h3 {
    color: black;
}

.container-2 li, .container-3 li {
    color: white;
}

.container-2 a {
    color: gray;
    font-weight: bold;
}

.container-3 {
    background-color: var(--green);
    padding-bottom: 7rem;
}

.section-4 {
    width: 70%;
    margin: auto;
    background-color: var(--green);
}

.project-video {
    width: 525px !important;
    height: auto !important;
    justify-self: end !important;
    padding: 0;
    margin: 0;
}

.container-3 .info-section {
    grid-template-columns: 1fr 1fr !important;
    grid-gap: 10rem;
}

.container-3 .info-section-inner {
    margin-top: 8rem;
}

/* Utility Classes  */

.italic {
    font-style: italic;
    font-size: 1rem;
}

.green-text {
    color: var(--green) !important;
    font-weight: bold;
}

.gray-text {
    /*color: var(--green) !important; */
    color: #05386B;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: darkblue !important;
}

h4 {
    color: #686868;
}

h3 a {
    color: black !important;
}

@media(max-width: 1525px) {
    .showcase h1, .showcase h2 {
        left: 600;
    }
    .header-icons {
        top: 225;
        left: 865;
    }
}

@media(max-width: 1325px) {
    .showcase h1, .showcase h2 {
        left: 400;
    }
    .header-icons {
        top: 225;
        left: 665;
    }
}

@media(max-width: 1125px) {
    .showcase h1, .showcase h2 {
        left: 200;
    }
    .header-icons {
        top: 225;
        left: 465;
    }
}

@media(max-width: 925px) {
    .showcase h1, .showcase h2 {
        left: 50;
    }
    .header-icons {
        top: 225;
        left: 315;
    }
}